{{render flash}}
<div class="content">
  {{#linkTo 'users' classNames="avatar pull-left" title="back"}}
    {{gravatar-image email=email}}
  {{/linkTo}}

  {{#linkTo 'comments' classNames="dashboard-clicable" title="dashboard"}}
    <p class="kudos-left pull-left">{{glyph-icon name="icon-star"}} <strong>{{kudosLeft}}</strong>
    Left</p>
    <p id="kudos-received" class="pull-right">
      {{trend trend}}</i> <strong class="last-week" title="last week">{{kudosReceived}}</strong>
      <strong class="since-bonus" title="since last bonus">({{kudosTotalReceived}})</strong>
    </p>
  {{/linkTo}}
</div>
