<div id="flash" class="alert"></div>
<div class="row-fluid">
  <div class="span12">
    {{#linkTo 'users' classNames="pull-left" title="back"}}
      {{avatar gravatar}}
    {{/linkTo}}

    <p class="kudos-left pull-left"><i class="icon-star icon-kudo"></i> <strong>{{kudosLeft}}</strong> Left</p>
    <p id="kudos-received" class="pull-right">
      {{trend trend}}</i> <strong class="last-week" title="last week">{{kudosReceived}}</strong>
      <strong class="since-bonus" title="since last bonus">({{kudosTotalReceived}})</strong>
      |
      {{#linkTo 'comments' classNames='last-comments'}}
        {{#view tagName="i" classNames="icon-comment"}}{{/view}}
      {{/linkTo}}
    </p>
  </div>
</div>
