<div class="coworker">
    <div class="row-fluid">
      <div class="span12">
        <img class="pull-left" {{bindAttr src="gravatar"}}  />
        <h2 class="pull-left">{{firstName}} {{lastName}}</h2>
      </div>
    </div>
</div>

<div class="row-fluid">
  <div class="span6">
    <form>
      <div class="control-group">
        <label class="control-label" for="kudos-add">I’d like to add</label>
        <div class="controls">
          <select id="kudos-add">
            <option>1 kudo</option>
            <option>2 kudos</option>
            <option>3 kudos</option>
            <option>4 kudos</option>
            <option>5 kudos</option>
          </select>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="kudos-comment">Comment</label>
        <div class="controls">
          {{view Ember.TextArea id="kudos-comment" placeholder="I’d like to add kudo because…" rows="6"}}
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <button {{action addKudo}} type="submit">Add</button>
        </div>
      </div>
     </form>
  </div>

  <div class="span6 stats">
    <div>
        <h2 class="text-center">Current Week</h2>
        <ul>
          {{#each kudo in controller.kudosReceived.content}}
          <li class="kudo-received"><i class="icon-star icon-kudo"></i><strong>{{kudo.value}}</strong>: {{kudo
          .comment}}</li>
          {{/each}}
        </ul>
    </div>

    <div>
        <h2 class="text-center">Last Week</h2>
        <ul>
          {{#each kudo in controller.kudosLastWeek.content}}
          <li class="kudo-received"><i class="icon-star icon-kudo"></i><strong>{{kudo.value}}</strong>: {{kudo
          .comment}}</li>
          {{/each}}
        </ul>
    </div>
</div>

