<div>
  <img class="" {{bindAttr src="gravatar"}}  />
  <h2 class="">{{firstName}} {{lastName}}</h2>
</div>

<div>
{{#each kudo in controller.kudosReceived.content}}
  <h2>Received this week: {{kudo.num}}</h2>
  <ul>
  {{#each kudo.comments}}
    <li>{{body}}</li>
  {{/each}}
  </ul>
{{/each}}
</div>

<div>
{{#each kudo in controller.kudosLastWeek.content}}
  <h2>Received last week: {{kudo.num}}</h2>
  <ul>
  {{#each kudo.comments}}
    <li>{{body}}</li>
  {{/each}}
  </ul>
{{/each}}
</div>

