<div class="coworker row">
      <div class="col-span-12">
        <img class="pull-left" {{bindAttr src="gravatar"}}  />
        <h2 class="name pull-left">{{firstName}}<br />{{lastName}}</h2>
      </div>
</div>

<div class="coworker-content row">
  <div class="col-span-6">
    <form>
      <div class="control-group">
        <label class="control-label" for="kudos-add">I’d like to add</label>
        <div class="controls">
          <select id="kudos-add">
            <option value="1">1 kudo</option>
            <option value="2">2 kudos</option>
            <option value="3">3 kudos</option>
            <option value="4">4 kudos</option>
            <option value="5">5 kudos</option>
          </select>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="kudos-comment">Comment</label>
        <div class="controls">
          {{view Ember.TextArea id="kudos-comment" placeholder="I’d like to add kudo because…" rows="6"}}
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <a href="#" class="btn btn-large btn-primary" {{action "addKudo" this}}>add</a>
        </div>
      </div>
     </form>
  </div>

  <div class="col-span-6 stats">
    <div>
        <h2 class="text-center">Current Week</h2>
        {{#if controller.kudoReceiveds}}
        <ul class='kudos-received-list'>
          {{#each kudo in controller.kudoReceiveds}}
          <li class="kudo-received">
            <span class="glyphicon glyphicon-star icon-kudo"></span><strong>{{kudo.value}}</strong>:
            {{#if kudo.comment}}
              {{kudo.comment}}
            {{else}}
              :-)
            {{/if}}
          </li>
          {{/each}}
        </ul>
        {{else}}
        <p>no kudos given</p>
        {{/if}}
    </div>

    <div>
        <h2 class="text-center">Last Week</h2>
        {{#if controller.kudoLastWeeks}}
        <ul class='kudos-received-list'>
          {{#each kudo in controller.kudoLastWeeks}}
          <li class="kudo-received">
            <span class="glyphicon glyphicon-star icon-kudo"></span><strong>{{kudo.value}}</strong>:
            {{#if kudo.comment}}
              {{kudo.comment}}
            {{else}}
              :-)
            {{/if}}
          </li>
          {{/each}}
        </ul>
        {{else}}
        <p>no kudos given</p>
        {{/if}}
    </div>
</div>