<div class="image-container pull-left">
  <img {{bindAttr src="user.gravatar"}}  />
  <span class="badge badge-inverse">{{user.kudosReceivedNum}}</span>
</div>
<h2 class="pull-left">{{user.firstName}}<br />{{user.lastName}}</h2>
<a href="#" class="btn btn-large btn-primary" {{action "addKudo" user}}><span class="glyphicon glyphicon-plus"></i></a>
{{#linkTo 'user' user classNames="btn btn-large btn-default"}}...{{/linkTo}}